<main>
    <section id="activities" class="d-sm-flex bg-dark">
        <section id="cyber" class="col-sm">
            <h5 class="text-white mb-0">Cyber Games</h5>
            <p class="text-green">En exclu mondiale !</p>
            <p class="description">Laissez-vous tenter et venez jouez à l'un de nos jeux immersifs sur kart, jusqu'à 8
                joueurs dans un
                espace de 500m<sup>2</sup> !</p>
            <a class="btn btn-sm btn-outline-light px-5" href="/partie-cyber-games">En savoir plus</a>
        </section>
        <section id="laser" class="col-sm">
            <h5 class="text-white mb-0">Laser Game</h5>
            <p class="text-green">Une petite partie entre amis ?</p>
            <p class="description">Réservez à l'avance en ligne ou le jour même par téléphone vos parties de Laser Game
                à Waterloo, près
                de Bruxelles.</p>
            <a class="btn btn-sm btn-outline-light px-5" href="/partie-laser-game">En savoir plus</a>
        </section>
        <section id="vr" class="col-sm">
            <h5 class="text-white mb-0">Vr Arena</h5>
            <p class="text-green">Plongez dans la réalité virtuelle !</p>
            <p class="description">Jouez à l'un de nos 9 jeux immersifs, min. 2 joueurs et max. 8 joueurs en même temps
                dans un espace
                de 100m<sup>2</sup> !</p>
            <a class="btn btn-sm btn-outline-light px-5" href="realite_virtuelle.html">En savoir plus</a>
        </section>
    </section>
    <section id="welcome" class="bg-dark">
        <div class="container-fluid">
            <h1 class="title">Bienvenue chez laser-magique.com</h1>
            <div class="d-sm-flex">
                <section class="col-sm-6">
                    <p class="bold">
                        À la recherche d'une ou plusieurs activités conviviales en famille, originales entre amis,
                        ou d'un
                        challenge entre collègues ? Laser Magique vous accueille à Waterloo, à deux pas de
                        Bruxelles.
                        Surprenez votre entourage ! Venez vous éclater au Laser Magique, vivre des expériences 100%
                        Fun et
                        inédites : le Cyber Games (en exclusivité mondiale), le Laser game et le VR Arena (réalité
                        virtuelle)
                    </p>
                    <p class="text-green">Cyber Games</p>
                    <p>Vous ne jouez pas le jeu, vous jouez DANS le jeu !</p>
                    <p>
                        Une innovation dans le monde du jeu vous permettant d’être le personnage principal de
                        l’aventure.
                        Immergez-vous dans le jeu. Soyez le jeu ! On a tous rêvé de vivre les aventures de nos héros de
                        jeux
                        vidéo préférés à leurs places. Le rêve devient réalité !
                    </p>
                    <p class="text-green">Laser Game</p>
                    <p>Un Laser Game (ou Jeu de Laser, Laser Shooting, Laser Tag, Q-Zar, ...) hors du commun : un tout
                        nouveau méga-labyrinthe, sur deux niveaux sans escaliers.</p>
                    <p>
                        Au Laser Magique, pas de combinaison à enfiler (plus hygiénique et différentes compositions
                        d'équipes sont possibles) ! Venez vous amuser dès deux joueurs et vous mesurer à nos robots
                        droïdes
                        qui jouent avec vous et sur lesquels vous pouvez tirer pour gagner des points. Pour remporter la
                        partie il vous faudra être rusé, vous cacher, progresser et éviter de vous faire toucher par les
                        droïdes et équipes adverses, qui tenteront de vous faire perdre la partie.
                    </p>
                    <p>
                        Soyez futés ! Ciblez robots et adversaires pour gagner des points et vous serez restés au top !
                    </p>
                    <p class="text-green">VR Arena (jeu de réalité virtuelle)</p>
                    <p>
                        Envie de prolonger votre moment chez nous, d’agrémenter la fête d’anniversaire de votre enfant
                        par
                        une expérience originale ou tout simplement de vous changer les idées ? Laser Magique vous
                        propose
                        également neuf jeux en Réalité Virtuelle (VR) disponibles de 2 à 8 joueurs sur une surface
                        inédite
                        de 100m<sup>2</sup> et libre de tout mouvement !
                    </p>
                </section>
                <section class="col-sm-6">
                    <iframe src="https://www.youtube.com/embed/_OBY7Tq_xCg?si=5UpWmg5M21m6DmMN"
                        title="Go Pro Laser Game" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        allowfullscreen>
                    </iframe>
                    <p id="gun-text" class="d-flex justify-content-center text-green">Moment detente & ambiance garantis
                        !</p>
                    <img id="gun-img" src="images/gun.png" width="150" alt="Fusil">
                </section>
            </div>
            <span class="end-description"></span>
        </div>
    </section>
    <section id="about-lg">
        <h1 class="title">Le laser game</h1>
        <div class="wrap">
            <div class="about-item col-md-4 col-12">
                <i class="fa-regular fa-face-smile"></i>
                <h5><strong>Amusant</strong></h5>
                <p>Soyez rusés, évitez les tirs de l'équipe adverse et planifiez des stratégies audacieuses pour
                    remporter la partie avec vos coéquipiers!</p>
            </div>
            <div class="about-item col-md-4 col-12">
                <i class="fa-solid fa-suitcase-medical"></i>
                <h5><strong>Indolore</strong></h5>
                <p>Les lasers sont sans danger aussi bien pour le corps que pour les yeux. La seule douleur que vous
                    ressentirez est celle de la frustration d'avoir été éliminé...</p>
            </div>
            <div class="about-item col-md-4 col-12">
                <i class="fa-regular fa-thumbs-up"></i>
                <h5><strong>Pour tout âge</strong></h5>
                <p>Le Laser Game convient à tous les âges, enfants et adultes de 7 à 77 ans, et ne nécessite aucuns
                    pré-requis de condition physique.</p>
            </div>
            <div class="about-item col-md-4 col-12">
                <i class="fa-solid fa-shield-halved"></i>
                <h5><strong>Sans danger</strong></h5>
                <p>Notre matériel est régulièrement contrôlé et entretenu, et notre labyrinthe répond à toutes les
                    normes de sécurité requises.</p>
            </div>
            <div class="about-item col-md-4 col-12">
                <i class="fa-solid fa-shield-virus"></i>
                <h5><strong>Hygiénique</strong></h5>
                <p>Il n'y a pas de combinaison à enfiler, donc à entretenir ou à désinfecter. Un pistolet P90 en
                    main, et vous êtes paré pour une partie !</p>
            </div>
            <div class="about-item col-md-4 col-12">
                <i class="fa-solid fa-users"></i>
                <h5><strong>Convivial</strong></h5>
                <p>En groupe ou seulement à deux, avec ou sans nos droïdes interactifs, en plusieurs équipes, ...
                    Toutes les sortes de configuration sont possibles.</p>
            </div>
        </div>
    </section>
    <section id="about-vr">
        <h1 class="title">La réalité virtuelle</h1>
        <div class="wrap">
            <div class="about-item col-md-4 col-12">
                <i class="fa-solid fa-users"></i>
                <h5><strong>Convival</strong></h5>
                <p>En pouvant accueillir jusqu'à 8 joueurs simultanément sur un espace de 100m<sup>2</sup>, votre
                    équipe pourra jouer et interagir ensemble !</p>
            </div>
            <div class="about-item col-md-4 col-12">
                <i class="fa-solid fa-star"></i>
                <h5><strong>Qualité</strong></h5>
                <p>Découvrez notre installation et matériel de première qualité, développé par un des leaders
                    européens spécialisé en VR qui vous permettra de vivre votre aventure encore plus intensément
                    !</p>
            </div>
            <div class="about-item col-md-4 col-12">
                <i class="fa-solid fa-bullseye"></i>
                <h5><strong>Varié</strong></h5>
                <p>Grâce aux 9 jeux proposés, vous en aurez pour tous les goûts et toutes les envies ! Une partie
                    n’étant pas l’autre, réinventez vos expériences à l’infini.</p>
            </div>
            <div class="about-item col-md-4 col-12">
                <i class="fa-regular fa-thumbs-up"></i>
                <h5><strong>Pour tout âge</strong></h5>
                <p>Nos jeux de réalité virtuelle conviennent aux enfants et adultes de 10 à 77 ans en pratiquant une
                    activité idéale pour tout type de groupe.</p>
            </div>
            <div class="about-item col-md-4 col-12">
                <i class="fa-solid fa-paper-plane"></i>
                <h5><strong>Léger et ergonomique</strong></h5>
                <p>Il n'y a pas de combinaison à enfiler, donc à entretenir ou à désinfecter. Un pistolet P90 en
                    main, et vous êtes paré pour une partie!</p>
            </div>
            <div class="about-item col-md-4 col-12">
                <i class="fa-regular fa-face-smile"></i>
                <h5><strong>Amusant</strong></h5>
                <p>Dès 10 ans, nos jeux permettent de jouer de façon individuelle ou en équipe. Amusement garanti
                    pour un moment en famille ou entre collègues et amis.</p>
            </div>
        </div>
    </section>
    <section id="about-cyber">
        <h1 class="title">Cyber games</h1>
        <div class="wrap">
            <div class="about-item col-md-4 col-12">
                <i class="fa-solid fa-earth-americas"></i>
                <h5><strong>Exclusivité mondiale</strong></h5>
                <p>Un concept 100 % made in Belgium. Pensé et mis sur pied par une équipe belge.</p>
            </div>
            <div class="about-item col-md-4 col-12">
                <i class="fa-solid fa-users"></i>
                <h5><strong>Convivial</strong></h5>
                <p>En pouvant accueillir jusque 8 joueurs simultanément sur un espace d'environ 500m², votre équipe
                    pourra jouer et interagir ensemble !</p>
            </div>
            <div class="about-item col-md-4 col-12">
                <i class="fa-solid fa-bullseye"></i>
                <h5><strong>Varié</strong></h5>
                <p>Grâce aux différents jeux proposés, vous en aurez pour tous les goûts et toutes les envies ! Une
                    partie n’étant pas l’autre, réinventez vos expériences à l’infini.</p>
            </div>
        </div>
    </section>
    <section id="pricing">
        <div class="container-fluid">
            <h1 class="title">Formules et tarifs</h1>
            <div id="formules">
                <div class="row equal-height">
                    <table class="card">
                        <thead>
                            <th>
                            <td class="card-header">Laser game</th>
                                </th>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="price-green">8€/P.</td>
                            </tr>
                            <tr>
                                <td class="age">De 7 ans à ...</td>
                            </tr>
                            <tr>
                                <td class="time">15 minutes</td>
                            </tr>
                            <tr>
                                <td class="res">Sur réservation</td>
                            </tr>
                            <tr>
                                <td class="pers">De 2 à 20 joueurs</td>
                            </tr>
                            <tr>
                                <td class="btn">
                                    <button>En savoir plus</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <table class="card">
                        <tbody>
                            <tr>
                                <th class="title">Cyber games</th>
                            </tr>
                            <tr>
                                <td class="price-green">1ère partie, 20€/P. - 2ème partie 16€/P. - 3ème partie 15€/P.
                                </td>
                            </tr>
                            <tr>
                                <td class="age">Dès 10 ans - Taille min. : 1m45</td>
                            </tr>
                            <tr>
                                <td class="time">15 minutes</td>
                            </tr>
                            <tr>
                                <td class="res">Sur réservation</td>
                            </tr>
                            <tr>
                                <td class="pers">De 2 à 8 joueurs</td>
                            </tr>
                            <tr>
                                <td class="btn">
                                    <button>En savoir plus</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <table class="card">
                        <tbody>
                            <tr>
                                <th class="title">Réalité virtuelle</th>
                            </tr>
                            <tr>
                                <td class="price-green">10€/P.</td>
                            </tr>
                            <tr>
                                <td class="age">De 10 ans à ...</td>
                            </tr>
                            <tr>
                                <td class="time">15 minutes</td>
                            </tr>
                            <tr>
                                <td class="res">Sur réservation</td>
                            </tr>
                            <tr>
                                <td class="pers">De 2 à 8 joueurs</td>
                            </tr>
                            <tr>
                                <td class="btn">
                                    <button>En savoir plus</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <table class="card">
                    <tbody>
                        <tr>
                            <th class="title">Anniversaire<br>Laser game</th>
                        </tr>
                        <tr>
                            <td class="price-green">200€/10P.</td>
                        </tr>
                        <tr>
                            <td class="age">De 9 ans à 16 ans</td>
                        </tr>
                        <tr>
                            <td class="time">2 heures</td>
                        </tr>
                        <tr>
                            <td class="sup">20€/enfant supplémentaire</td>
                        </tr>
                        <tr>
                            <td class="activities">3 parties de 15'</td>
                        </tr>
                        <tr>
                            <td class="drink">Carafes d'eau + grenadine à volonté</td>
                        </tr>
                        <tr>
                            <td class="inv">Cartons d'invitation personnalisés</td>
                        </tr>
                        <tr>
                            <td class="btn">
                                <button>En savoir plus</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <table class="card">
                    <tbody>
                        <tr>
                            <th class="title">Anniversaire<br>Trio Pack</th>
                        </tr>
                        <tr>
                            <td class="price-red">280€/8P.</td>
                        </tr>
                        <tr>
                            <td class="age">De 10 ans à 16 ans - Taille min. : 1m45</td>
                        </tr>
                        <tr>
                            <td class="time">2 heures</td>
                        </tr>
                        <tr>
                            <td class="activities">1 partie de Cyber Games 15'<br>
                                1 partie de Laser Game 15'<br>
                                1 partie de Réalité virtuelle 15'</td>
                        </tr>
                        <tr>
                            <td class="drink">Carafes d'eau + grenadine à volonté</td>
                        </tr>
                        <tr>
                            <td class="inv">Cartons d'invitation personnalisés</td>
                        </tr>
                        <tr>
                            <td class="btn">
                                <button>En savoir plus</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <table class="card">
                    <tbody>
                        <tr>
                            <th class="title">Familly<br>Trio Pack</th>
                        </tr>
                        <tr>
                            <td class="price-red">35€/P.</td>
                        </tr>
                        <tr>
                            <td class="age">Dès 10 ans - Taille min. : 1m45</td>
                        </tr>
                        <tr>
                            <td class="res">Sur réservation</td>
                        </tr>
                        <tr>
                            <td class="pers">De 4 à 8 joueurs</td>
                        </tr>
                        <tr>
                            <td class="activities">1 partie de Cyber Games 15'<br>
                                1 partie de Laser Game 15'<br>
                                1 partie de Réalité virtuelle 15'</td>
                        </tr>
                        <tr>
                            <td class="btn">
                                <button>En savoir plus</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <table class="card">
                    <tbody>
                        <tr>
                            <th class="title">Salle pour évènement</th>
                        </tr>
                        <tr>
                            <td class="info">Salle de conférence - Matériel à disposition - Team building - Sur mesure
                            </td>
                        </tr>
                        <tr>
                            <td class="btn">
                                <button>En savoir plus</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>
    <section id="booking">
        <div class="container-fluid">
            <h1 class="title">INFOS &amp; RÉSERVATIONS</h1>
            <form action="/accueil/reservation" method="post">
                <label for="firstname">VOTRE PRÉNOM <span class="text-green">*</span></label>
                <input type="text" name="firstname" placeholder="VOTRE PRÉNOM">
                <label for="lastname">VOTRE NOM <span class="text-green">*</span></label>
                <input type="text" name="lastname" placeholder="VOTRE NOM">
                <label for="email">VOTRE EMAIL <span class="text-green">*</span></label>
                <input type="email" name="email" placeholder="VOTRE EMAIL">
                <label for="phone_number">VOTRE NUMÉRO DE TÉLÉPHONE <span class="text-green">*</span></label>
                <input type="tel" name="phone_number" placeholder="VOTRE NUMÉRO DE TÉLÉPHONE">
                <label for="persons">NOMBRE DE PERSONNES <span class="text-green">*</span></label>
                <input type="number" min="2" name="persons" placeholder="NOMBRE DE PERSONNES">
                <label for="date">DATE <span class="text-green">*</span></label>
                <input type="date" name="date">
                <label for="activities">VOUS SOUHAITEZ JOUER À <span class="text-green">*</span></label>
                <select name="activities" id="activities">
                    <optgroup label="Nos Jeux">
                        <option value="Laser Game" selected>Laser Game</option>
                        <option value="Réalité Virtuelle">Réalité Virtuelle</option>
                        <option value="Cyber Games">Cyber Games</option>
                    </optgroup>
                    <optgroup label="Nos Packs">
                        <option value="Anniversaire Laser Game">Anniversaire Laser Game</option>
                        <option value="Anniversaire Trio Pack">Anniversaire Trio Pack</option>
                        <option value="Famille Trio Pack">Famille Trio Pack</option>
                    </optgroup>
                    <optgroup label="Nos Combinaisons">
                        <option value="Laser Game + Réalité Virtuelle">Laser Game + Réalité Virtuelle</option>
                        <option value="Laser Game + Cyber Games">Laser Game + Cyber Games</option>
                        <option value="Réalité Virtuelle + Cyber Games">Réalité Virtuelle + Cyber Games</option>
                        <option value="Laser Game + Réalité Virtuelle + Cyber Games">Laser Game + Réalité Virtuelle +
                            Cyber
                            Games</option>
                    </optgroup>
                </select>
                <label for="resComment">UN COMMENTAIRE, UNE QUESTION ? <span class="text-green">*</span></label>
                <textarea name="resComment" id="resComment" cols="30" rows="10"
                    placeholder="UN COMMENTAIRE, UNE QUESTION ?"></textarea>

                <button type="submit">RÉSERVER</button>
            </form>
        </div>
    </section>
</main>