<main class="mt-0">
    <section class="pt-0">
        <div id="reglement-header"></div>
    </section>
    <section class="p-0">
        <h1 class="title">Conditions générales d'utilisation</h1>
    </section>
    <section>
        <h3>Article 1 : objet</h3>
        <p>Les présentes « conditions générales d'utilisation » ont pour objet l'encadrement juridique de l’utilisation
            du site Laser-Magique.com et de ses services.</p>
        <p>Ce contrat est conclu entre :</p>
        <p>Le gérant du site internet, ci-après désigné « l’Éditeur »,</p>
        <p>Toute personne physique ou morale souhaitant accéder au site et à ses services, ci-après appelé «
            l’Utilisateur ».</p>
        <p>Les conditions générales d'utilisation doivent être acceptées par tout Utilisateur, et son accès au site vaut
            acceptation de ces conditions.</p>
        <hr>
        <h3>Article 2 : mentions légales</h3>
        <p>Le site Laser-Magique.com est édité par la société Laser Magique, scrl, dont le siège social est situé au 27b
            Drève de l'Infante à Waterloo (info@Laser-Magique.com). La société est représentée par Ucar Ustunel.</p>
        <hr>
        <h3>Article 3 : accès aux services</h3>
        <p>L’Utilisateur du site Laser-Magique.com a accès aux services suivants :</p>
        <ul>
            <li>informations sur les services fournis</li>
            <li>reservation et contact</li>
            <li>téléchargement d'un modèle d'invitation</li>
        </ul>
        <p>Tout Utilisateur ayant accès a internet peut accéder gratuitement et depuis n’importe où au site. Les frais
            supportés par l’Utilisateur pour y accéder (connexion internet, matériel informatique, etc.) ne sont pas à
            la charge de l’Éditeur.</p>
        <p>Le site et ses différents services peuvent être interrompus ou suspendus par l’Éditeur, notamment à
            l’occasion d’une maintenance, sans obligation de préavis ou de justification.</p>
        <hr>
        <h3>Article 4 : responsabilité de l'éditeur</h3>
        <p>Tout dysfonctionnement du serveur ou du réseau ne peut engager la responsabilité de l’Éditeur.</p>
        <p>De même, la responsabilité du site ne peut être engagée en cas de force majeure ou du fait imprévisible et
            insurmontable d'un tiers.</p>
        <p>Le site Laser-Magique.com s'engage à mettre en œuvre tous les moyens nécessaires pour garantir la sécurité et
            la confidentialité des données. Toutefois, il n’apporte pas une garantie de sécurité totale.</p>
        <p>L’Éditeur se réserve la faculté d’une non-garantie de la fiabilité des sources, bien que les informations
            diffusées sur le site soient réputées fiables.</p>
        <hr>
        <h3>Article 5 : propriété intellectuelle</h3>
        <p>Les contenus du site Laser-Magique.com (logos, textes, éléments graphiques, vidéos, etc.) son protégés par le
            droit d’auteur, en vertu du Code de la propriété intellectuelle.</p>
        <p>L’Utilisateur devra obtenir l’autorisation de l’éditeur du site avant toute reproduction, copie ou
            publication de ces différents contenus.</p>
        <p>En dehors de ce cadre, ces derniers ne peuvent être utilisés par les utilisateurs, que ce soit à des fins
            privées ou commerciales.</p>
        <hr>
        <h3>Article 6 : données personnelles</h3>
        <p>L’Utilisateur doit obligatoirement fournir des informations personnelles pour utiliser certains services sur
            le site.</p>
        <p>L’adresse électronique (e-mail) de l’utilisateur pourra notamment être utilisée par le site Laser-Magique.com
            pour la communication d’informations diverses et la gestion du compte.</p>
        <p>Plus d'informations sur le respect de la vie privée sont disponibles sur la <a href="/vie-privee">page
                dédiée</a>.</p>
        <hr>
        <h3>Article 7 : liens hypertextes</h3>
        <p>Les domaines externes vers lesquels mènent les liens hypertextes présents sur le site n’engagent pas la
            responsabilité de l’Éditeur de Laser-Magique.com, qui n’a pas de contrôle sur ces liens et leur contenu.</p>
        <p>Il est possible pour un tiers de créer un lien vers une page du site Laser-Magique.com sans autorisation
            expresse de l’éditeur.</p>
        <hr>
        <h3>Article 8 : évolution des conditions générales d'utilisation</h3>
        <p>Le site Laser-Magique.com se réserve le droit de modifier les clauses de ces conditions générales
            d’utilisation à tout moment et sans justification ou préavis.</p>
        <hr>
        <h3>Article 9 : durée du contrat</h3>
        <p>La durée du présent contrat est indeterminée. Le contrat produit ses effets à l'égard de l'Utilisateur à compter du début de l'utilisation du service.</p>
        <hr>
        <h3>Article 10 : droit applicable et juridiction compétente</h3>
        <p>Le présent contrat dépend de la législation belge. En cas de litige non résolu à l’amiable entre l’Utilisateur et l’Éditeur, les tribunaux de Nivelles sont compétents pour régler le contentieux.</p>
    </section>
</main>