<main>
    <section id="activities" class="d-md-flex bg-dark pb-0">
        <div id="cyber" class="col">
            <h5 class="text-white mb-0">Cyber Games</h5>
            <p class="text-green">En exclu mondiale !</p>
            <p class="description">Laissez-vous tenter et venez jouez à l'un de nos jeux immersifs sur kart, jusqu'à 8
                joueurs dans un
                espace de 500m<sup>2</sup> !</p>
            <a class="btn btn-sm btn-outline-light px-5" href="/partie-cyber-games">En savoir plus</a>
        </div>
        <div id="laser" class="col">
            <h5 class="text-white mb-0">Laser Game</h5>
            <p class="text-green">Une petite partie entre amis ?</p>
            <p class="description">Réservez à l'avance en ligne ou le jour même par téléphone vos parties de Laser Game
                à Waterloo, près
                de Bruxelles.</p>
            <a class="btn btn-sm btn-outline-light px-5" href="/partie-laser-game">En savoir plus</a>
        </div>
        <div id="vr" class="col">
            <h5 class="text-white mb-0">Vr Arena</h5>
            <p class="text-green">Plongez dans la réalité virtuelle !</p>
            <p class="description">Jouez à l'un de nos 9 jeux immersifs, min. 2 joueurs et max. 8 joueurs en même temps
                dans un espace
                de 100m<sup>2</sup> !</p>
            <a class="btn btn-sm btn-outline-light px-5" href="realite_virtuelle.html">En savoir plus</a>
        </div>
    </section>
    <section id="welcome" class="bg-dark">
        <div class="container-fluid">
            <h1 class="title">Bienvenue chez laser-magique.com</h1>
            <div class="d-sm-flex">
                <div class="col-sm-6">
                    <p class="bold">
                        À la recherche d'une ou plusieurs activités conviviales en famille, originales entre amis,
                        ou d'un
                        challenge entre collègues ? Laser Magique vous accueille à Waterloo, à deux pas de
                        Bruxelles.
                        Surprenez votre entourage ! Venez vous éclater au Laser Magique, vivre des expériences 100%
                        Fun et
                        inédites : le Cyber Games (en exclusivité mondiale), le Laser game et le VR Arena (réalité
                        virtuelle)
                    </p>
                    <p class="text-green">Cyber Games</p>
                    <p>Vous ne jouez pas le jeu, vous jouez DANS le jeu !</p>
                    <p>
                        Une innovation dans le monde du jeu vous permettant d’être le personnage principal de
                        l’aventure.
                        Immergez-vous dans le jeu. Soyez le jeu ! On a tous rêvé de vivre les aventures de nos héros de
                        jeux
                        vidéo préférés à leurs places. Le rêve devient réalité !
                    </p>
                    <p class="text-green">Laser Game</p>
                    <p>Un Laser Game (ou Jeu de Laser, Laser Shooting, Laser Tag, Q-Zar, ...) hors du commun : un tout
                        nouveau méga-labyrinthe, sur deux niveaux sans escaliers.</p>
                    <p>
                        Au Laser Magique, pas de combinaison à enfiler (plus hygiénique et différentes compositions
                        d'équipes sont possibles) ! Venez vous amuser dès deux joueurs et vous mesurer à nos robots
                        droïdes
                        qui jouent avec vous et sur lesquels vous pouvez tirer pour gagner des points. Pour remporter la
                        partie il vous faudra être rusé, vous cacher, progresser et éviter de vous faire toucher par les
                        droïdes et équipes adverses, qui tenteront de vous faire perdre la partie.
                    </p>
                    <p>
                        Soyez futés ! Ciblez robots et adversaires pour gagner des points et vous serez restés au top !
                    </p>
                    <p class="text-green">VR Arena (jeu de réalité virtuelle)</p>
                    <p>
                        Envie de prolonger votre moment chez nous, d’agrémenter la fête d’anniversaire de votre enfant
                        par
                        une expérience originale ou tout simplement de vous changer les idées ? Laser Magique vous
                        propose
                        également neuf jeux en Réalité Virtuelle (VR) disponibles de 2 à 8 joueurs sur une surface
                        inédite
                        de 100m<sup>2</sup> et libre de tout mouvement !
                    </p>
                </div>
                <div class="col-sm-6">
                    <iframe src="https://www.youtube.com/embed/_OBY7Tq_xCg?si=5UpWmg5M21m6DmMN"
                        title="Go Pro Laser Game" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        allowfullscreen>
                    </iframe>
                    <p id="gun-text" class="d-flex justify-content-center text-green">Moment detente & ambiance garantis
                        !</p>
                    <img id="gun-img" src="images/gun.png" width="150" alt="Fusil">
                </div>
            </div>
            <span class="end-description"></span>
        </div>
    </section>
    <section id="about-lg">
        <h1 class="title">Le laser game</h1>
        <div class="row no-gutters">
            <div class="about-item col-md-4 col-12">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title"><i class="fa-regular fa-face-smile"></i>Amusant</h5>
                        <p class="card-text">Soyez rusés, évitez les tirs de l'équipe adverse et planifiez des
                            stratégies audacieuses pour remporter la partie avec vos coéquipiers!</p>
                    </div>
                </div>
            </div>
            <div class="about-item col-md-4 col-12">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title"><i class="fa fa-medkit"></i>Indolore</h5>
                        <p class="card-text">Les lasers sont sans danger aussi bien pour le corps que pour les yeux. La
                            seule douleur que vous ressentirez est celle de la frustration d'avoir été éliminé...</p>
                    </div>
                </div>
            </div>
            <div class="about-item col-md-4 col-12">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title"><i class="fa-regular fa-thumbs-up"></i>Pour tout age</h5>
                        <p class="card-text">Le Laser Game convient à tout les âges, enfants et adultes de 7 à 77 ans,
                            et ne nécessite aucune pré-requis de condition physique.</p>
                    </div>
                </div>
            </div>
            <div class="about-item col-md-4 col-12">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title"><i class="fa-solid fa-shield-halved"></i>Sans danger</h5>
                        <p class="card-text">Notre matériel est régulièrement contrôlé et entretenu, et notre labyrinthe
                            répond à toutes les normes de sécurité requises.</p>
                    </div>
                </div>
            </div>
            <div class="about-item col-md-4 col-12">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title"><i class="fa-regular fa-square-check"></i>Hygiénique</h5>
                        <p class="card-text">Il n'y a pas de combinaison à enfiler, donc à entretenir ou à désinfecter.
                            Un pistolet P90 en main, et vous êtes paré pour une partie!</p>
                    </div>
                </div>
            </div>
            <div class="about-item col-md-4 col-12">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title"><i class="fa fa-users"></i>Convivial</h5>
                        <p class="card-text">En groupe ou seulement à deux, avec ou sans nos droïdes interactifs, en
                            plusieurs équipes,... Toutes les sortes de configuration sont possibles.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="about-vr">
        <h1 class="title">La réalité virtuelle</h1>
        <div class="row no-gutters">
            <div class="about-item col-md-4 col-12">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title"><i class="fa fa-users"></i>Convivial</h5>
                        <p class="card-text">En pouvant accueillir jusque 8 joueurs simultanément sur un espace de
                            100m², votre équipe pourra jouer et interagir ensemble&nbsp;!</p>
                    </div>
                </div>
            </div>
            <div class="about-item col-md-4 col-12">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title"><i class="fa fa-star"></i>Qualité</h5>
                        <p class="card-text">Découvrez notre installation et matériel de première qualité, développé par
                            un des leaders européens spécialisé en VR qui vous permettra de vivre votre aventure encore
                            plus intensément&nbsp;!</p>
                    </div>
                </div>
            </div>
            <div class="about-item col-md-4 col-12">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title"><i class="fa fa-bullseye"></i>Varié</h5>
                        <p class="card-text">Grâce aux 9 jeux proposés, vous en aurez pour tous les goûts et toutes les
                            envies&nbsp;! Une partie n’étant pas l’autre, réinventez vos expériences à l’infini.</p>
                    </div>
                </div>
            </div>
            <div class="about-item col-md-4 col-12">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title"><i class="fa-regular fa-thumbs-up"></i>Pour tout âge</h5>
                        <p class="card-text">Nos jeux de réalité virtuelle conviennent aux enfants et adultes de 10 à 77
                            ans en pratiquant une activité idéale pour tout type de groupe.</p>
                    </div>
                </div>
            </div>
            <div class="about-item col-md-4 col-12">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title"><i class="fa fa-paper-plane"></i>Léger et ergonomique</h5>
                        <p class="card-text">Chaque joueur est équipé d’un casque qui s’adapte parfaitement aux
                            différentes morphologies. Léger et ergonomique, il se fait oublier afin de permettre une
                            totale immersion dans le jeu.</p>
                    </div>
                </div>
            </div>
            <div class="about-item col-md-4 col-12">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title"><i class="fa-regular fa-face-smile"></i>Amusant</h5>
                        <p class="card-text">Dès 10 ans, nos jeux permettent de jouer de façon individuelle ou en
                            équipe. Amusement garanti pour un moment en famille ou entre collègues et amis.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="about-cyber">
        <h1 class="title">Cyber games</h1>
        <div class="row no-gutters">
            <div class="about-item col-md-4 col-12">
                <div class="card wow zoomIn">
                    <div class="card-body">
                        <h5 class="card-title"><i class="fa-solid fa-earth-americas"></i>Exclusivité mondiale</h5>
                        <p class="card-text">Un concept 100 % made in Belgium. Pensé et mis sur pied par une équipe
                            belge.</p>
                    </div>
                </div>
            </div>
            <div class="about-item col-md-4 col-12">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title"><i class="fa fa-star"></i>Convivial</h5>
                        <p class="card-text">En pouvant accueillir jusque <strong>8 joueurs</strong> simultanément sur
                            un espace d'environ 500m², votre équipe pourra jouer et interagir ensemble !</p>
                    </div>
                </div>
            </div>
            <div class="about-item col-md-4 col-12">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title"><i class="fa fa-bullseye"></i>Varié</h5>
                        <p class="card-text">Grâce aux différents jeux proposés, vous en aurez pour tous les goûts et
                            toutes les envies&nbsp;! Une partie n’étant pas l’autre, réinventez vos expériences à
                            l’infini.</p>
                    </div>
                </div>
            </div>

        </div>
    </section>
    <section id="pricing" class="bg-dark">
        <div class="container-fluid">
            <h1 class="title">Formules et tarifs</h1>
            <div class="row equal-height">
                <div class="col-12 col-md-4 col-lg-4">
                    <div class="card">
                        <div class="card-header">
                            Laser Game
                        </div>
                        <div class="card-body">
                            <h5 class="card-title"><span>8</span>€ / p.</h5>
                        </div>
                        <ul class="list-group list-group-flush small">
                            <li class="list-group-item p-2">De 7 ans à ...</li>
                            <li class="list-group-item p-2">15 minutes</li>
                            <li class="list-group-item p-2">Sur réservation</li>
                            <li class="list-group-item p-2">De 2 à 30 joueurs</li>
                        </ul>
                        <div class="card-footer text-center">
                            <a class="btn btn-outline-light" href="/partie-laser-game">En savoir plus</a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4 col-lg-4">
                    <div class="card">
                        <div class="card-header">
                            Réalité Virtuelle
                        </div>
                        <div class="card-body">
                            <h5 class="card-title"><span>10</span>€ / p.</h5>
                        </div>
                        <ul class="list-group list-group-flush small">
                            <li class="list-group-item p-2">De 10 ans à ...</li>
                            <li class="list-group-item p-2">15 minutes</li>
                            <li class="list-group-item p-2">Sur réservation</li>
                            <li class="list-group-item p-2">De 2 à 8 joueurs</li>
                        </ul>
                        <div class="card-footer text-center">
                            <a class="btn btn-outline-light" href="/partie-realite-virtuelle">En savoir plus</a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4 col-lg-4">
                    <div class="card">
                        <div class="card-header">
                            Cyber Games
                        </div>
                        <div class="card-body">
                            <div class="card-title position-relative">
                                <h5 class="card-title">1<sup>ère</sup> partie <span>20</span>€ / p. -
                                    2<sup>ème</sup> 16€ / p. - 3<sup>ème</sup> 15€ / p.</h5>
                            </div>
                        </div>
                        <ul class="list-group list-group-flush small">
                            <li class="list-group-item p-2">Dès 10 ans - Taille min.: 1m45</li>
                            <li class="list-group-item p-2">15 minutes</li>
                            <li class="list-group-item p-2">Sur réservation</li>
                            <li class="list-group-item p-2">De 2 à 8 joueurs</li>
                        </ul>
                        <div class="card-footer text-center">
                            <a class="btn btn-outline-light" href="/partie-cyber-games">En savoir plus</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row equal-height">
                <div class="col-12 col-md-4 col-lg-4 my-auto">
                    <div class="card ">
                        <div class="card-header">
                            Anniversaire<br>Laser Game
                        </div>
                        <div class="card-body">
                            <div class="card-title">
                                <h5 class="card-title"><span>200</span>€ / 10 p.</h5>
                            </div>
                        </div>
                        <ul class="list-group list-group-flush small">
                            <li class="list-group-item p-2">De 9 à 16 ans</li>
                            <li class="list-group-item p-2">2 heures</li>
                            <li class="list-group-item p-2">20€ / enfant supplémentaire</li>
                            <li class="list-group-item p-2">3 parties de 15'</li>
                            <li class="list-group-item p-2">Carafes d’eau + grenadine à volonté</li>
                            <li class="list-group-item p-2">Cartons d’invitations personnalisés</li>
                        </ul>
                        <div class="card-footer text-center">
                            <a class="btn btn-outline-light" href="/anniversaire">En
                                savoir plus</a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4 col-lg-4">
                    <div class="card">
                        <div class="card-header">
                            Anniversaire<br>Trio pack <span class="position-absolute badge badge-pill badge-danger pt-2"
                                style="top:.5rem;right:.5rem;">New</span>
                        </div>
                        <div class="card-body bg-danger">
                            <div class="card-title">
                                <h5 class="card-title"><span>280</span>€ / 8 p.</h5>
                            </div>
                        </div>
                        <ul class="list-group list-group-flush small">
                            <li class="list-group-item p-2">De 10 à 16 ans - Taille min.: 1m45</li>
                            <li class="list-group-item p-2">2 heures</li>
                            <li class="list-group-item p-2">
                                1 partie de Cyber Games 15'<br>
                                1 partie de Laser Game 15'<br>
                                1 partie de Réalité virtuelle 15'
                            </li>
                            <li class="list-group-item p-2">Carafes d’eau + grenadine à volonté</li>
                            <li class="list-group-item p-2">Cartons d’invitations personnalisés</li>
                        </ul>
                        <div class="card-footer text-center">
                            <a class="btn btn-outline-light" href="/anniversaire">En
                                savoir plus</a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4 col-lg-4">
                    <div class="card">
                        <div class="card-header">
                            Familly<br>Trio Pack <span class="position-absolute badge badge-pill badge-danger pt-2"
                                style="top:.5rem;right:.5rem;">New</span>
                        </div>
                        <div class="card-body bg-danger">
                            <div class="card-title">
                                <h5 class="card-title"><span>35</span>€ / p.</h5>
                            </div>
                        </div>
                        <ul class="list-group list-group-flush small">
                            <li class="list-group-item p-2">Minimum 4 joueurs</li>
                            <li class="list-group-item p-2">Maximum 8 joueurs</li>
                            <li class="list-group-item p-2">Dès 10 ans - Taille min.: 1m45</li>
                            <li class="list-group-item p-2">
                                1 partie de Cyber Games 15'<br>
                                1 partie de Laser Game 15'<br>
                                1 partie de Réalité virtuelle 15'
                            </li>
                        </ul>
                        <div class="card-footer text-center">
                            <a class="btn btn-outline-light" href="/anniversaire">En
                                savoir plus</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12 my-auto">
                    <div class="card black">
                        <div class="card-header">
                            Salle pour évènement
                        </div>
                        <ul class="list-group list-group-flush list-group-horizontal">
                            <li class="list-group-item">Salle de conférence - Matériel à disposition - Team building
                                - Sur mesure</li>
                        </ul>
                        <div class="card-footer text-center">
                            <a class="btn btn-outline-light" href="/salle-pour-evenement">En savoir plus</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="b2b" class="bg-dark">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <hr>
                    <h1>Création, vente &amp; installation</h1>
                </div>
                <div class="col-12 text-center">
                    <p><strong>Vous souhaitez vous lancer dans l'aventure du Cyber Games et du Laser Game, mais vous ne
                            savez pas trop par ou commencer?</strong><br>Nous vous accompagnons depuis la conception de
                        votre labyrinthe jusqu'à la création et la mise en place de votre centre de Laser Game avec
                        l'appui de nos partenaires certifiés et 100% belges.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-3 col-md-5 my-auto">
                    <hr>
                </div>
                <div class="col-6 col-md-2 my-auto text-center">
                    <a class="btn btn-outline-light" href="/vente-et-installation">En
                        savoir plus</a>
                </div>
                <div class="col-3 col-md-5 my-auto">
                    <hr>
                </div>
            </div>
        </div>
    </section>
    <section id="figures" class="bg-dark">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <h1 class="title">En chiffres</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2 col-12 text-center">
                    <i class="fa fa-map"></i>
                    <h5>1100m²</h5>
                    <p>d'espace de jeux aménagé</p>
                </div>
                <div class="col-md-2 col-12 text-center">
                    <i class="fa fa-bolt"></i>
                    <h5>60</h5>
                    <p>unités P90 de fabrication 100% belge</p>
                </div>
                <div class="col-md-2 col-12 text-center">
                    <i class="fa fa-magic"></i>
                    <h5>99%</h5>
                    <p>De fun et de convivialité</p>
                </div>
                <div class="col-md-2 col-12 text-center">
                    <i class="fa fa-street-view"></i>
                    <h5>100 m²</h5>
                    <p>d'arène dans un décor VR grandeur nature</p>
                </div>
                <div class="col-md-2 col-12 text-center">
                    <i class="fa fa-gamepad"></i>
                    <h5>9</h5>
                    <p>jeux VR uniques</p>
                </div>
                <div class="col-md-2 col-12 text-center">
                    <i class="fa fa-users"></i>
                    <h5>2-8</h5>
                    <p>joueurs VR par partie</p>
                </div>
            </div>
        </div>
    </section>
    <section id="galery" class="bg-dark">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h1 class="title">Galerie photos</h1>
                </div>
            </div>
        </div>
        <div class="card-group" id="photosbox">
            {{#each photos1_5}}
            <div class="card">
                <img class="card-img-top lazy" alt="LaserMagique.be" src="{{directory}}">
                <div class="card-img-overlay">
                    <a href="{{directory}}" data-lightbox="galery"><i class="fa fa-search"></i></a>
                </div>
            </div>
            {{/each}}
            <div class="w-100"></div>
            {{#each photos6_10}}
            <div class="card">
                <img class="card-img-top lazy" alt="LaserMagique.be" src="{{directory}}">
                <div class="card-img-overlay">
                    <a href="{{directory}}" data-lightbox="galery"><i class="fa fa-search"></i></a>
                </div>
            </div>
            {{/each}}
            <div class="w-100"></div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <br><button type="submit" class="btn btn-outline-light" id="loadphotosbox"
                        data-json="https://www.laser-magique.com/js/json/photos.json"
                        data-thb="https://www.laser-magique.com/images/photos/vignettes/"
                        data-img="https://www.laser-magique.com/images/photos/" data-alt="LaserMagique.be">Voir toutes
                        les photos</button>
                </div>
            </div>
        </div>
    </section>
    <section id="booking" class="bg-dark">
        <h1 class="title">Infos &amp; réservations</h1>
        <form action="/accueil/reservation" method="post">
            <div class="form-row">
                <div class="form-group col-md-7">
                    <label for="firstname">Votre prénom <span class="text-green">*</span></label>
                    <input type="text" class="form-control" name="firstname" placeholder="Votre prénom" minlength="2"
                        maxlength="50" required>

                    <label for="lastname">Votre nom <span class="text-green">*</span></label>
                    <input type="text" class="form-control" name="lastname" placeholder="Votre nom" minlength="2"
                        maxlength="50" required>

                    <label for="email">Votre e-mail <span class="text-green">*</span></label>
                    <input type="email" class="form-control" name="email" placeholder="Votre e-mail" required>

                    <label for="phone_number">Votre téléphone <span class="text-green">*</span></label>
                    <input type="tel" class="form-control" name="phone_number" placeholder="Votre téléphone" required>

                    <div class="form-row">
                        <div class="form-group col-md-5">
                            <label for="persons">Nombre de personnes <span class="text-green">*</span></label>
                            <input type="number" inputmode="numeric" class="form-control" name="persons" placeholder="Nombre de personnes"
                                min="2" max="20" required>
                        </div>

                        <div class="form-group col-md-5">
                            <label for="date">Date <span class="text-green">*</span></label>
                            <input type="date" class="form-control" name="date" placeholder="Date" required>
                        </div>

                        <div class="form-group col-md-10">
                            <label for="activities">Vous souhaitez jouer à <span class="text-green">*</span></label>
                            <select id="activities" name="activities" class="form-control" required>
                                <optgroup label="Nos jeux">
                                    <option value="Laser Game">Laser Game</option>
                                    <option value="Réalité Virtuelle">Réalité Virtuelle</option>
                                    <option value="Cyber Games">Cyber Games</option>
                                </optgroup>
                                <optgroup label="Nos packs">
                                    <option value="Anniversaire Laser Game">Anniversaire Laser Game</option>
                                    <option value="Anniversaire Trio Pack">Anniversaire Trio Pack</option>
                                    <option value="Family Trio Pack">Family Trio Pack</option>
                                </optgroup>
                                <optgroup label="Combis">
                                    <option value="Laser Game + Réalité Virtuelle">Laser Game + Réalité
                                        Virtuelle</option>
                                    <option value="Laser Game + Cyber Games">Laser Game + Cyber Games
                                    </option>
                                    <option value="Réalité Virtuelle + Cyber Games">Réalité Virtuelle +
                                        Cyber Games</option>
                                    <option value="Laser Game + Réalité Virtuelle + Cyber Games">Laser Game
                                        + Réalité Virtuelle + Cyber Games</option>
                                </optgroup>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="form-group col-md-5">
                    <label for="resComment">Un commentaire, une question? <span class="text-green">*</span></label>
                    <textarea class="form-control" name="resComment" placeholder="Un commentaire, une question?"
                        maxlength="1000" required></textarea>

                    <button type="submit" class="btn btn-outline-light float-right">Envoyer</button>
                </div>
            </div>
        </form>
    </section>
</main>