<main class="relative w-full h-screen flex items-start md:items-center justify-center px-4 py-10 bg-bg-gradient">
    <div class="relative w-full h-full bg-bg-gradient overflow-hidden" style="border-radius: 16px;">
        <div class="flex items-center justify-center gap-2 bg-transparent w-[410px] absolute -translate-x-1/2 left-1/2 bottom-14 z-[2]"
            style="border-radius: 16px;">
            <button id="laserButton"
                class="flex items-center justify-center gap-2 hover:bg-zinc-950 hover:text-white duration-300 transition-colors py-3 px-4"
                style="border-radius: 16px;">
                <span class="font-medium">Laser Game</span>
            </button>
            <button id="cyberButton"
                class="flex items-center justify-center gap-2 hover:bg-zinc-950 hover:text-white duration-300 transition-colors py-3 px-4"
                style="border-radius: 16px;">
                <span class="font-medium">Cyber Trikes</span>
            </button>
        </div>
        <div id="menu" class="absolute -translate-x-1/2 left-1/2 bottom-14">
            <div class="bg-black/5 backdrop-blur-xl overflow-hidden"
                style="border-radius: 15.5497px; will-change: auto; transform: none; width: 410px; height: 48px;">
                <div id="laserMenu" class="p-4 flex flex-col items-center absolute w-full bottom-16"
                    style="opacity: 1; will-change: auto;">
                    <div class="w-[95%] flex items-center gap-1.5 cursor-pointer hover:bg-black/5 py-3 hover:px-3 duration-300"
                        style="border-radius: 16px;" id="walletInteraction">
                        <div class="w-full flex flex-col items-start">
                            <p class="font-medium">Qu'est-ce que c'est ?</p>
                        </div>
                        {{!-- <span class="block shrink-0 py-1 px-2 text-sm opacity-80 border border-black/50"
                            style="border-radius: 8px;">Dynamic</span>
                        <span class="block shrink-0 py-1 px-2 text-md opacity-80" style="border-radius: 8px;">06 -
                            12</span> --}}
                    </div>
                    <div class="w-[95%] flex items-center gap-1.5 cursor-pointer hover:bg-black/5 py-3 hover:px-3 duration-300"
                        style="border-radius: 16px;">
                        <div class="w-full flex flex-col items-start">
                            <p class="font-medium">Notre matériel</p>
                        </div>
                        {{!-- <span class="block shrink-0 py-1 px-2 text-sm opacity-80 border border-black/50"
                            style="border-radius: 8px;">Overlay</span>
                        <span class="block shrink-0 py-1 px-2 text-md opacity-80" style="border-radius: 8px;">05 -
                            12</span> --}}
                    </div>
                    <div class="w-[95%] flex items-center gap-1.5 cursor-pointer hover:bg-black/5 py-3 hover:px-3 duration-300"
                        style="border-radius: 16px;">
                        <div class="w-full flex flex-col items-start">
                            <p class="font-medium">Références</p>
                        </div>
                        {{!-- <span class="block shrink-0 py-1 px-2 text-sm opacity-80 border border-black/50"
                            style="border-radius: 8px;">Scroll</span>
                        <span class="block shrink-0 py-1 px-2 text-md opacity-80" style="border-radius: 8px;">04 -
                            12</span> --}}
                    </div>
                    <div class="h-[2px] w-[95%] bg-black/10 mt-4"></div>
                </div>
                <div id="cyberMenu" class="p-4 flex flex-col items-center absolute w-full bottom-16"
                    style="opacity: 1; will-change: auto;">
                    <div class="w-[95%] flex items-center gap-1.5 cursor-pointer hover:bg-black/5 py-3 hover:px-3 duration-300"
                        style="border-radius: 16px;" id="walletInteraction">
                        <div class="w-full flex flex-col items-start">
                            <p class="font-medium">Qu'est-ce que c'est ?</p>
                        </div>
                        {{!-- <span class="block shrink-0 py-1 px-2 text-sm opacity-80 border border-black/50"
                            style="border-radius: 8px;">Dynamic</span>
                        <span class="block shrink-0 py-1 px-2 text-md opacity-80" style="border-radius: 8px;">06 -
                            12</span> --}}
                    </div>
                    <div class="h-[2px] w-[95%] bg-black/10 mt-4"></div>
                </div>
            </div>
        </div>
    </div>
</main>
<script>
    document.getElementById('laserButton').addEventListener('mouseover', function () {
        const container = document.querySelector('.bg-black\\/5.backdrop-blur-xl.overflow-hidden');

        container.style.transition = 'all 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55)';
        container.style['border-radius'] = '24.4718px';
        container.style['will-change'] = 'auto';
        container.style.width = '460px';
        container.style.height = '284px';
        container.style.transform = 'translateY(17px)';

        document.getElementById('laserMenu').style.display = 'flex';
        document.getElementById('cyberMenu').style.display = 'none';
    });

    document.getElementById('cyberButton').addEventListener('mouseover', function () {
        const container = document.querySelector('.bg-black\\/5.backdrop-blur-xl.overflow-hidden');

        container.style.transition = 'all 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55)';
        container.style['border-radius'] = '24.4718px';
        container.style['will-change'] = 'auto';
        container.style.width = '460px';
        container.style.height = '284px';
        container.style.transform = 'translateY(17px)';

        document.getElementById('laserMenu').style.display = 'none';
        document.getElementById('cyberMenu').style.display = 'flex';
    });

    document.getElementById('menu').addEventListener('mouseleave', function () {
        const container = document.querySelector('.bg-black\\/5.backdrop-blur-xl.overflow-hidden');

        container.style.transition = 'all 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55)';
        container.style['border-radius'] = '15.5497px';
        container.style['will-change'] = 'auto';
        container.style.width = '410px';
        container.style.height = '48px';
        container.style.transform = 'none';
    });
</script>