<main class="relative w-full h-screen flex items-start md:items-center justify-center px-4 py-10 bg-bg-gradient">
    <div class="relative w-full h-full bg-bg-gradient overflow-hidden" style="border-radius: 16px;">
        <div class="flex items-center justify-center gap-2 bg-transparent w-[410px] absolute -translate-x-1/2 left-1/2 bottom-14 z-[2]"
            style="border-radius: 16px;">
            <button id="appButton"
                class="flex items-center justify-center gap-2 hover:bg-zinc-950 hover:text-white duration-300 transition-colors py-3 px-4"
                style="border-radius: 16px;">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor"
                    class="w-6 h-6">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"
                        d="M2.25 7.125C2.25 6.504 2.754 6 3.375 6h6c.621 0 1.125.504 1.125 1.125v3.75c0 .621-.504 1.125-1.125 1.125h-6a1.125 1.125 0 0 1-1.125-1.125v-3.75ZM14.25 8.625c0-.621.504-1.125 1.125-1.125h5.25c.621 0 1.125.504 1.125 1.125v8.25c0 .621-.504 1.125-1.125 1.125h-5.25a1.125 1.125 0 0 1-1.125-1.125v-8.25ZM3.75 16.125c0-.621.504-1.125 1.125-1.125h5.25c.621 0 1.125.504 1.125 1.125v2.25c0 .621-.504 1.125-1.125 1.125h-5.25a1.125 1.125 0 0 1-1.125-1.125v-2.25Z">
                    </path>
                </svg>
                <span class="font-medium">Apps</span>
            </button>
            <button
                class="flex items-center justify-center gap-2 hover:bg-zinc-950 hover:text-white duration-300 transition-colors py-3 px-4"
                style="border-radius: 16px;">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor"
                    class="w-6 h-6">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"
                        d="M17.25 6.75 22.5 12l-5.25 5.25m-10.5 0L1.5 12l5.25-5.25m7.5-3-4.5 16.5">
                    </path>
                </svg>
                <span class="font-medium">Components</span>
            </button>
            <button
                class="flex items-center justify-center gap-2 hover:bg-zinc-950 hover:text-white duration-300 transition-colors py-3 px-4"
                style="border-radius: 16px;">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor"
                    class="w-6 h-6">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"
                        d="M12 6.042A8.967 8.967 0 0 0 6 3.75c-1.052 0-2.062.18-3 .512v14.25A8.987 8.987 0 0 1 6 18c2.305 0 4.408.867 6 2.292m0-14.25a8.966 8.966 0 0 1 6-2.292c1.052 0 2.062.18 3 .512v14.25A8.987 8.987 0 0 0 18 18a8.967 8.967 0 0 0-6 2.292m0-14.25v14.25">
                    </path>
                </svg>
                <span class="font-medium">Notes</span>
            </button>
        </div>
        <div class="absolute -translate-x-1/2 left-1/2 bottom-14">
            <div class="bg-black/5 backdrop-blur-xl overflow-hidden"
                style="border-radius: 24.4718px; will-change: auto; width: 460px; height: 284px; transform: translateY(17px);">
                <div class="p-4 flex flex-col items-center absolute w-full bottom-16"
                    style="opacity: 1; will-change: auto;">
                    <div id="walletInteraction"
                        class="w-[95%] flex items-center gap-1.5 cursor-pointer hover:bg-black/5 py-3 hover:px-3 duration-300"
                        style="border-radius: 16px;">
                        <div class="mr-1.5">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"
                                fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round" class="lucide lucide-code-xml">
                                <path d="m18 16 4-4-4-4"></path>
                                <path d="m6 8-4 4 4 4"></path>
                                <path d="m14.5 4-5 16"></path>
                            </svg>
                        </div>
                        <div class="w-full flex flex-col items-start">
                            <p class="font-medium">Wallet Interaction</p>
                        </div>
                        <span class="block shrink-0 py-1 px-2 text-sm opacity-80 border border-black/50"
                            style="border-radius: 8px;">Dynamic</span>
                        <span class="block shrink-0 py-1 px-2 text-md opacity-80" style="border-radius: 8px;">06 -
                            12</span>
                    </div>
                    <div class="w-[95%] flex items-center gap-1.5 cursor-pointer hover:bg-black/5 py-3 hover:px-3 duration-300"
                        style="border-radius: 16px;">
                        <div class="mr-1.5">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"
                                fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round" class="lucide lucide-code-xml">
                                <path d="m18 16 4-4-4-4"></path>
                                <path d="m6 8-4 4 4 4"></path>
                                <path d="m14.5 4-5 16"></path>
                            </svg>
                        </div>
                        <div class="w-full flex flex-col items-start">
                            <p class="font-medium">Figma Toolbar</p>
                        </div>
                        <span class="block shrink-0 py-1 px-2 text-sm opacity-80 border border-black/50"
                            style="border-radius: 8px;">Overlay</span>
                        <span class="block shrink-0 py-1 px-2 text-md opacity-80" style="border-radius: 8px;">05 -
                            12</span>
                    </div>
                    <div class="w-[95%] flex items-center gap-1.5 cursor-pointer hover:bg-black/5 py-3 hover:px-3 duration-300"
                        style="border-radius: 16px;">
                        <div class="mr-1.5">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"
                                fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round" class="lucide lucide-code-xml">
                                <path d="m18 16 4-4-4-4"></path>
                                <path d="m6 8-4 4 4 4"></path>
                                <path d="m14.5 4-5 16"></path>
                            </svg>
                        </div>
                        <div class="w-full flex flex-col items-start">
                            <p class="font-medium">Link Hover</p>
                        </div>
                        <span class="block shrink-0 py-1 px-2 text-sm opacity-80 border border-black/50"
                            style="border-radius: 8px;">Scroll</span>
                        <span class="block shrink-0 py-1 px-2 text-md opacity-80" style="border-radius: 8px;">04 -
                            12</span>
                    </div>
                    <div class="h-[2px] w-[95%] bg-black/10 mt-4"></div>
                </div>
            </div>
        </div>
    </div>
</main>
<script>
    document.getElementById('appButton').addEventListener('click', function () {
        document.getElementById('walletInteraction').style.display = 'none';
        document.getElementById('appButton').style.display = 'none';
    });
</script>