<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8" />
    <title>Laser Magique</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/png" href="/images/favicon/icon.png">

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>

    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="/stylesheets/gestion.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/home.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/layout.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/reservation.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-xl transparent fixed-top">
            <div class="container-fluid">
                <a href="#"><img class="navbar-brand" src="/images/logo-inv-sm.png" width="80"
                        alt="Logo Laser Magique" /></a>
                <button class="navbar-toggler first-button" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapsibleNavbar">
                    <div class="animated-icon"><span></span><span></span><span></span></div>
                </button>
                <div class="collapse navbar-collapse justify-content-around" id="collapsibleNavbar">
                    <ul class="navbar-nav">
                        {{#if session.connected}}
                        <li class="nav-item">
                            <a href="/gestion">
                                <p>Gestion</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/calendars">
                                <p>Calendriers</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/profile">
                                <p>Profil</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/stocks">
                                <p>Stock</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <div class="dropdown">
                                <button type="button" class="btn text-white dropdown-toggle" data-bs-toggle="dropdown">
                                    Inventaire
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="/weapons">Laser Game</a></li>
                                    <li><a class="dropdown-item" href="/headsets">Réalité Virtuelle</a></li>
                                    <li><a class="dropdown-item" href="/trikes">Cyber Trike</a></li>
                                </ul>
                            </div>
                        </li>
                        <li class="nav-item">
                            <form action="/gestion/disconnect" method="post">
                                <button type="submit" class="btn btn-primary m-0">Se déconnecter</button>
                            </form>
                        </li>
                        {{else}}
                        <li class="nav-item">
                            <a href="/home">
                                <p>Accueil</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/home#about-lg">
                                <p>Laser Game</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/home#about-vr">
                                <p>Réalité virtuelle</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/home#about-cyber">
                                <p>Cyber games</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/home#pricing">
                                <p>Formules et tarifs</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/home#galery">
                                <p>Photos</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/home#booking">
                                <p>Réservations</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/contact">
                                <p>Contact</p>
                            </a>
                        </li>
                        {{/if}}
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    {{{body}}}
    <footer id="footer">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-6 col-md-3 col-12">
                    <h3>Coordonnées</h3>
                    <p class="coords"><i class="fa fa-map-marker"></i>Drève de l'Infante 27b<br>1410 Waterloo</p>
                    <p class="coords"><i class="fa fa-phone"></i><a class="text-white"
                            href="tel:(0032) 470 537 206">(0032) 470 537
                            206</a>
                    </p>
                    <p class="coords"><i class="fa fa-envelope-o"></i><a class="text-white"
                            href="mailto:info@laser-magique.com">info@laser-magique.com</a></p>
                </div>
                <div class="col-sm-6 col-md-4 col-12">
                    <h3>&nbsp;</h3>
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2526.1526403844887!2d4.3854097!3d50.717107299999995!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c3ce2bd34f3b55%3A0xb12a8fafced2f7fc!2sDr%C3%A8ve%20de%20l&#39;Infante%2027%20b%2C%201410%20Waterloo!5e0!3m2!1sfr!2sbe!4v1711963674370!5m2!1sfr!2sbe"
                        style="border:0;" allowfullscreen="" loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
                <div class="col-sm-6 col-md-3 col-12">
                    <h3>Horaires d'ouverture</h3>

                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Du lundi au vendredi<span>A la demande</span>
                        </li>
                        <li class="list-group-item">Samedi &amp; Dimanche<span>11:00 - 20:00</span></li>
                        <li class="list-group-item">Uniquement sur réservation !</li>
                    </ul>
                </div>
                <div class="col-sm-6 col-md-2 col-12">
                    <h3>Liens</h3>

                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link" href="/conditions-generales"><i class="fa fa-caret-right"></i>
                                Conditions générales d'utilisation</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/vie-privee"><i class="fa fa-caret-right"></i> Respect de la vie
                                privée</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/reglement-d-ordre-interieur"><i class="fa fa-caret-right"></i>
                                Réglement d'ordre intérieur</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="credits">
            <p><strong>©2024 Laser Magique</strong> | Tous droits réservés. Toute utilisation non autorisée de matériel
                trouvé sur ce site est interdite.</p>
        </div>
    </footer>
</body>

<script>
    document.querySelector('.first-button').addEventListener('click', function () {
        document.querySelector('.animated-icon').classList.toggle('open');
    });
</script>

</html>