<main>
    <section class="d-flex align-items-center justify-content-center bg-dark vh-100">
        <form class="d-flex flex-column bg-white p-4 rounded-3 " action="/login/auth" method="post">
            <h1 class="text-black">Connexion</h1>

            <label for="user">Utilisateur :</label>
            <input type="text" name="user">

            <label for="password">Mot de passe :</label>
            <input type="password" name="password">

            {{#if error}}
            <div class="bg-danger my-3 pt-2">
                <p class="text-center">{{error}}</p>
            </div>
            {{/if}}

            <button class="btn btn-primary mt-3" type="submit">Se connecter</button>
        </form>
    </section>
</main>