<main>
    <section id="loginPage" class="container-fluid bg-dark">
        <form id="login" action="/login/auth" method="post">
            <h1>Connexion</h1>

            <label for="user">Utilisateur :</label>
            <input type="text" name="user">

            <label for="password">Mot de passe :</label>
            <input type="password" name="password">

            {{#if error}}
            <div class="bg-danger my-3 pt-2">
                <p>{{error}}</p>
            </div>
            {{/if}}

            <button type="submit">Se connecter</button>
        </form>
    </section>
</main>