<main class="mt-0">
    <section class="pt-0">
        <div id="reglement-header"></div>
    </section>
    <section>
        <h1 class="title mt-0">Réglement d'ordre intérieur</h1>
        <div class="d-md-flex">
            <div class="col-12 col-md-6">
                <i class="fa fa-hand-stop-o"></i>
                <p>
                    Afin de garantir la sécurité et pour que notre Laser Game reste un lieu de plaisir et de
                    convivialité
                    pour tous, nous appliquons un certain nombre de règles.
                </p>
                <hr>
                <ul class="list-unstyled">
                    <li class="text-center">
                        <i class="fa fa-caret-right text-primary"></i>
                        Entrée interdite à l'étage pour les enfants de moins de 7 ans.
                    </li>
                    <li class="text-center">
                        <i class="fa fa-caret-right text-primary"></i>
                        Toutes les boissons alcoolisées sont strictement interdites. Toute personne en état d'ébriété,
                        même
                        légère, sera refusée au Laser Magique.
                    </li>
                    <li class="text-center">
                        <i class="fa fa-caret-right text-primary"></i>
                        Toute personne ayant un comportement non respectueux se verra refuser l'entrée.
                    </li>
                    <li class="text-center">
                        <i class="fa fa-caret-right text-primary"></i>
                        Aucune entrée n'est autorisée dans le labyrinthe sans l'achat d'une partie.
                    </li>
                    <li class="text-center">
                        <i class="fa fa-caret-right text-primary"></i>
                        Toute personne entrainant des blessures à d'autres sera tenue pour responsable.
                    </li>
                    <li class="text-center">
                        <i class="fa fa-caret-right text-primary"></i>
                        Tous les objets personnels restent sous la responsablilités du joueur. Des casiers sont mis à
                        disposition gratuitement.
                    </li>
                </ul>
                <hr>
            </div>
            <div class="col-12 col-md-6">
                <i class="fa fa-ban"></i>
                <p>De plus, nous appliquons un règlement intérieur strict dans nos infrastructures. Il est interdit:</p>
                <hr>
                <ul class="list-unstyled">
                    <li class="text-center">
                        <i class="fa fa-caret-right text-primary"></i>
                        de courir dans les couloirs.
                    </li>
                    <li class="text-center">
                        <i class="fa fa-caret-right text-primary"></i>
                        d'escaladers les structures.
                    </li>
                    <li class="text-center">
                        <i class="fa fa-caret-right text-primary"></i>
                        de se jeter à terre ou de ramper.
                    </li>
                    <li class="text-center">
                        <i class="fa fa-caret-right text-primary"></i>
                        d'entrer en contact physique avec d'autres joueurs.
                    </li>
                    <li class="text-center">
                        <i class="fa fa-caret-right text-primary"></i>
                        de prendre l'arme d'une autre joueur.
                    </li>
                    <li class="text-center">
                        <i class="fa fa-caret-right text-primary"></i>
                        de boire, de manger ou de chiquer dans le labyrinthe.
                    </li>
                    <li class="text-center">
                        <i class="fa fa-caret-right text-primary"></i>
                        de rester dans le labyrinthe quand la partie est terminée.
                    </li>
                    <li class="text-center">
                        <i class="fa fa-caret-right text-primary"></i>
                        En règle générale, toute action susceptible de blesser un joueur est interdite.
                    </li>
                </ul>
                <hr>
            </div>
        </div>
    </section>
</main>