<main class="mt-5">
    <section class="container-fluid bg-dark text-white py-0">
        <h1 class="title my-5">Gestion des karts</h1>

        <form class="form-control" action="/trikes/update" method="post">
            <label for="id">Numéro du kart : </label>
            <input type="number" name="id" min="1" max="10" required>

            <label for="problem">Problème : </label>
            <input type="text" name="problem" required>

            <label for="description">Description : </label>
            <textarea name="description"></textarea>

            <button type="submit" class="btn btn-primary">Mettre à jour</button>
        </form>

        <table class="table">
            <thead>
                <th>Numéro du kart</th>
                <th>Problème</th>
                <th>Description</th>
                <th>Action</th>
            </thead>
            <tbody>
                {{#each trikes}}
                <tr>
                    <td>{{id}}</td>
                    <td>{{problem}}</td>
                    <td>{{description}}</td>
                    <td>
                        <form action="/trikes/repaired" method="post">
                            <button type="submit" class="btn btn-primary" name="id" value="{{id}}">Réparé</button>
                        </form>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </section>
</main>