<main>
    <section id="gestionPage" class="container-fluid bg-dark text-white">
        <h1 class="title">Gestion des armes</h1>

        <h5><a href="/gestion">Retour à la gestion</a></h5>

        <form class="form-control" action="/weapons/update" method="post">
            <label for="num">Numéro de l'arme : </label>
            <input type="number" inputmode="numeric" value="{{id}}">
        </form>
    </section>
</main>