.table {
    border-collapse: collapse;
}

.table th,
.table td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}

.table th {
    background-color: #69b357;
    color: white;
}

.table td {
    color: #fff;
}

.bg-modal-blur {
    background-color: rgba(25, 25, 30, .3);
}

.select-size {
    width: clamp(150px, 100%, 325px);
}

.select-size-modal {
    width: 200px;
}