#activities p.text-green::after {
    content: " ";
    display: block;
    width: 50%;
    height: 1px;
    margin: auto;
    bottom: 0;
    background: #69b357;
    margin-top: 1rem
}

#cyber {
    background-image: url('../images/background/cyber.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#laser {
    background-image: url('../images/background/laser.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#vr {
    background-image: url('../images/background/vr.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

hr {
    border-color: #69b357;
    box-sizing: content-box;
    height: 0;
    overflow: visible
}

#cyber,
#laser,
#vr {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-self: flex-end;
    border-radius: 10px;
    margin: 2%;
    padding: 20% 2% 2% 2%;
    vertical-align: bottom;
}