#reglement-header {
    height: 480px;
    background-image: url("../images/background/reglement-header.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.text-primary {
    color: #69B357 !important;
}